<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <footer class="mt-20">
        <div class="f-menu flex flex-wrap justify-between mx-20 p-4 hover:bg-gray-200 hover:rounded-md hover:cursor-pointer">
          <div class="name font-danfo font-bold text-2xl mb-6">Zippy</div>

          <!-- First column -->
          <ul class="mb-6">
            <li class="heading font-medium text-gray-600 text-xl mb-4">Product</li>
            <li class="text-gray-500 mb-2">Pricing</li>
            <li class="text-gray-500 mb-2">features</li>
            <li class="text-gray-500 mb-2">Security</li>
          </ul>

          <!-- Second column -->
          <ul class="ml-16 mb-6">
            <li class="heading font-medium text-gray-600 text-xl mb-4">Support</li>
            <li class="text-gray-500 mb-2">Contact</li>
            <li class="text-gray-500 mb-2">Platforms</li>
          </ul>

          <!-- Third column -->
          <ul class="ml-16 mb-6">
            <li class="heading font-medium text-gray-600 text-xl mb-4">Legal</li>
            <li class="text-gray-500 mb-2">Terms of use</li>
            <li class="text-gray-500 mb-2">Privacy Policy</li>
            <li class="text-gray-500 mb-2">GDPR</li>
            <li class="text-gray-500 mb-2">Cookie Policy</li>
          </ul>

          <!-- Fourth column with button -->
          <ul class="ml-16 mb-6">
            <li class="heading font-medium text-gray-600 text-xl mb-4">Get it</li>
            <li class="text-gray-500 mb-2">Available on chrome store</li>
            <button class="px-6 py-2 bg-orange-400 font-bold rounded-sm mt-4 text-white hover:bg-orange-600">Download now</button>
          </ul>
        </div>
        <hr class="mt-8 mx-4 border-gray-200">
        <div class="m-10 text-center text-gray-500">All rights are reserved @Zippy 2024.</div>
      </footer>
</body>
</html>
