<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zippy | <%= title %></title>
    <link rel="stylesheet" href="/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Danfo&display=swap"
      rel="stylesheet"
    />
</head>

<body>
    <!-- Header -->
        <!-- Regular Menu for Larger Screens -->
        <%- include ('./partials/nav.ejs')%>

      <!-- Sidebar for Mobile Menu -->
      <%- include ('./partials/sidebar.ejs')%>

    <!-- Main content -->
    <main class="container mx-auto mt-10 w-fit">
        <section class="bg-blue-500 shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-bold mb-4 text-white">About Us</h2>
            <p class="text-lg text-white">
                Zippy is a revolutionary blog website designed to provide users with a<br> fast, sleek, and responsive
                blogging experience.<br> We hope you enjoy using it!
            </p>
        </section>
    </main>


    <!-- Footer -->
    <%-include('./partials/footer.ejs')%>

</body>

</html>
